.mobile-block {
  display: none; }

@media (min-width: 1040px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important; } }
@media (max-width: 1140px) {
  .card-deal .col-heading {
    min-width: 280px;
    flex-basis: 280px; }

  .nav-home-aside {
    width: 200px; } }
@media (max-width: 992px) {
  .widget-pull-right {
    position: relative;
    top: 76px;
    /* z-index: 1; */
}
.search-header-my {
  margin-top: 24px !important;
  margin-bottom: -60px !important;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0 solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0 !important;
  border-left: 0.3em solid transparent;
}
  .widget-pull-right { 
    position: relative;
    top: 101px;
    z-index: 2;
    left: 9%;
  }
  .widget-header .widget-view {
    padding: 5px 7px;
    display: inline-block;
    position: relative;
    text-align: center;
    top: -21px !important;
  }

  /* small tablet devices */
  .table-shopping-cart tr td:first-child {
    width: 250px; }
  .table-shopping-cart .itemside .info {
    padding: 0; }
  .table-shopping-cart .itemside .aside {
    display: none; }

  .card-deal {
    display: block; }
    .card-deal .col-heading {
      min-width: 280px; }

  .slider-home-banner {
    margin-bottom: 20px; }
    .slider-home-banner .carousel-item img {
      max-height: 350px; 
    } 
    .form-register .steps ul {
	    padding-left: 0;
	    justify-content: space-around;
	    -o-justify-content: space-around;
		-ms-justify-content: space-around;
		-moz-justify-content: space-around;
		-webkit-justify-content: space-around;
	}
	.form-register .steps li a .title {
		text-align: center;
	}
	.form-register .steps li a .title .step-icon,
	.form-register .steps li a .title .step-icon {
		margin: 0 auto;
	}
	.form-register .steps li a .title .step-icon::before,
	.form-register .steps li:last-child a .title .step-icon::after {
		content: none;
	}
	.actions ul li:first-child {
		margin-left: 0;
  }
  .form-register .steps .current .step-icon::before,
.form-register .steps .current:last-child .step-icon::after,
.form-register .steps .done .step-icon::before {
    background: white;
    border: 2px solid #ff6a00 !important;
}
.form-register .steps li .step-icon::before, .form-register .steps li:last-child .step-icon::after {
  position: absolute;
  content: "";
  background: #e5e5e5;
  width: 50px !important;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

}


@media all and (max-width: 768px) {

  .nav-home-aside {
    width: 100%; 
  }

  .list-inline-item {
    margin-bottom: 10px; 
  }

  .slider-home-banner {
    margin-bottom: 20px; 
  }
    .slider-home-banner .carousel-item img {
      max-height: 250px; 
    }

  /* mobile devices */
  .section-header .search-header {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .section-header .logo {
    max-height: 32px;
    width: auto; }

  .banner-quote {
    min-height: auto; }

  .icontext {
    margin-bottom: 20px; }

  .card-post {
    margin-bottom: 20px; }

  .card-product-grid .img-wrap {
    height: 200px; }

  .section-footer .title {
    margin-bottom: 0;
    margin-top: 20px; }

  .item-feature {
    margin-bottom: 20px; }

  .mobile-order-first {
    order: -1; }

  .mobile-order-1 {
    order: 1; }

  .mobile-order-2 {
    order: 2; }

  .mobile-order-3 {
    order: 3; }

  .mobile-block {
    display: block; }

  .padding-y {
    padding-top: 20px;
    padding-bottom: 20px; }

  .padding-top {
    padding-top: 20px; }

  .padding-bottom {
    padding-bottom: 20px; }

  .padding-y-lg {
    padding-top: 30px;
    padding-bottom: 30px; }

  .padding-top-lg {
    padding-top: 30px; }

  .padding-bottom-lg {
    padding-bottom: 30px;
  } 
  .gallery-wrap .img-big-wrap img {
    max-height: 270px !important;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
  }
  .table-shopping-cart.table td, .table-shopping-cart.table th {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  .widget-header .icon-area {
    font-size: 15px !important;
    width: 15px !important;
    height: 15px !important;
  }
  
  .widget-header .icon-area .notify {
    position: absolute;
    top: -10px !important;
    right: -34% !important;
  }
  .inner .form-row.form-row-date .form-holder select {
    width: 17.5%;
    margin-right: 20px;
  }
.inner .form-row .form-holder label.pay-1-label, 
.inner .form-row .form-holder label.pay-2-label {
  margin-bottom: 15px;
 }
 .payment-margin {
  margin: -13px !important;
}

}

@media screen and (max-width: 575px) {
	.wizard-v3-content {
		width: 100%;
	}
	.wizard-form .wizard-header {
		padding:  40px 20px 20px 20px;
  }
  .form-register .content {
    padding: 35px 20px 35px !important;
}
	.inner .form-row {
		/* flex-direction: column; */
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
	.inner .form-row .form-holder {
		width: 100%;
	}
	.inner .form-row .form-holder.form-holder-1 {
	    width: 100%;
	}
	.inner .form-row .form-holder {
		padding: 0;
	}
	.inner .form-row .form-holder label.special-label {
	    float: none;
	}
	.inner .form-row.form-row-date .form-holder select {
	    float: none;
	    width: 100%;
	    margin-bottom: 20px;
	    margin-right: 0;
	    display: block;
	}
	.form-register .steps li a .title .step-icon {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}
	.form-register .steps li a .step-text {
		font-size: 12px;
	}
	.form-register .content {
		padding: 35px 30px 60px;
	}
	.inner .form-row #radio {
		margin-left: -2px;
	}
	.inner .form-row #checkbox {
		margin-left: 0;
	}
	.actions ul li {
		width: 120px;
	}
	.actions ul li a {
	    padding: 15px 24px;
	}
}

@media all and (max-width: 480px) {
  .card-sm .img-wrap {
    height: 160px !important;
  }
  .empty-box {
    height: 290px;
    max-width: 300px !important;
    padding: 1rem 0px 0px;
  }
}

@media all and (max-width: 360px) {
  
  .card-sm .img-wrap {
    height: 100px !important;
  }
  .search-header select {
    flex-basis: 62px !important;
    flex-grow: 0 !important;
}
}