<div class="login-area">
    <div class="container ">
        <div class="row vh-100 align-items-center justify-content-center">
            <div class="col-lg-6 ">
                <div class="error-part white-bg ">
                    <div class="error-txt text-center">
                        <h1>404</h1>
                        <span>  Sorry! The page you’re looking for was not found.</span>
                        <a class="btn btn-primary" routerLink="/">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>