body {
  font-size: 15px !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem !important;
  font-weight: 500 !important;
  line-height: 1.3 !important;
}
h1, .h1 {
  font-size: 2.25 !important;
}
h2, .h2 {
font-size: 2rem !important;
}
h3, .h3 {
  font-size: 1.75rem !important;
}
h4, .h4 {
  font-size: 1.50rem !important;
}
h5, .h5 {
  font-size: 1.25rem !important;
}
h6, .h6 {
  font-size: 1rem !important;
}
/*======================================================
	CODE FOR COL-XXS, COL-XXS-OFFSET, COL-XXS-PUSH, COL-XXS-PULL
==============================================================*/
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4,
.col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8,
.col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (max-width: 575px) {
  .col-xxs-1,
  .col-xxs-2,
  .col-xxs-3,
  .col-xxs-4,
  .col-xxs-5,
  .col-xxs-6,
  .col-xxs-7,
  .col-xxs-8,
  .col-xxs-9,
  .col-xxs-10,
  .col-xxs-11 {
    float: left;
  }

  .col-xxs-1 {
    width: 8.333333333333332% !important;
  }

  .col-xxs-2 {
    width: 16.666666666666664% !important;
  }

  .col-xxs-3 {
    width: 25%;
  }

  .col-xxs-4 {
    width: 33.33333333333333%!important;
  }

  .col-xxs-5 {
    width: 41.66666666666667% !important;
  }

  .col-xxs-6 {
    width: 50% !important;
  }

  .col-xxs-7 {
    width: 58.333333333333336% !important;
  }

  .col-xxs-8 {
    width: 66.66666666666666% !important;
  }

  .col-xxs-9 {
    width: 75%;
  }

  .col-xxs-10 {
    width: 83.33333333333334% !important;
  }

  .col-xxs-11 {
    width: 91.66666666666666% !important;
  }

  .col-xxs-12 {
    width: 100% !important;
  }

  .col-xxs-push-1 {
    left: 8.333333333333332% !important;
  }

  .col-xxs-push-2 {
    left: 16.666666666666664% !important;
  }

  .col-xxs-push-3 {
    left: 25%;
  }

  .col-xss-push-4 {
    left: 33.33333333333333% !important;
  }

  .col-xxs-push-5 {
    left: 41.66666666666667% !important;
  }

  .col-xxs-push-6 {
    left: 50% !important;
  }

  .col-xxs-push-7 {
    left: 58.333333333333336% !important;
  }

  .col-xxs-push-8 {
    left: 66.66666666666666% !important;
  }

  .col-xxs-push-9 {
    left: 75% !important;
  }

  .col-xxs-push-10 {
    left: 83.33333333333334% !important;
  }

  .col-xxs-push-11 {
    left: 91.66666666666666% !important;
  }

  .col-xxs-pull-1 {
    right: 8.333333333333332% !important;
  }

  .col-xxs-pull-2 {
    right: 16.666666666666664% !important;
  }

  .col-xxs-pull-3 {
    right: 25% !important;
  }

  .col-xxs-pull-4 {
    right: 33.33333333333333% !important;
  }

  .col-xxs-pull-5 {
    right: 41.66666666666667% !important;
  }

  .col-xxs-pull-6 {
    right: 50%;
  }

  .col-xxs-pull-7 {
    right: 58.333333333333336% !important;
  }

  .col-xxs-pull-8 {
    right: 66.66666666666666% !important;
  }

  .col-xxs-pull-9 {
    right: 75%;
  }

  .col-xxs-pull-10 {
    right: 83.33333333333334% !important;
  }

  .col-xxs-pull-11 {
    right: 91.66666666666666% !important;
  }

  .col-xxs-offset-1 {
    margin-left: 8.333333333333332% !important;
  }

  .col-xxs-offset-2 {
    margin-left: 16.666666666666664% !important;
  }

  .col-xxs-offset-3 {
    margin-left: 25% !important;
  }

  .col-xxs-offset-4 {
    margin-left: 33.33333333333333% !important;
  }

  .col-xxs-offset-5 {
    margin-left: 41.66666666666667% !important;
  }

  .col-xxs-offset-6 {
    margin-left: 50% !important;
  }

  .col-xxs-offset-7 {
    margin-left: 58.333333333333336% !important;
  }

  .col-xxs-offset-8 {
    margin-left: 66.66666666666666% !important;
  }

  .col-xxs-offset-9 {
    margin-left: 75%;
  }

  .col-xxs-offset-10 {
    margin-left: 83.33333333333334% !important;
  }

  .col-xxs-offset-11 {
    margin-left: 91.66666666666666% !important;
  }
}
.mb-0 {
    margin-bottom: 0px !important;
}
.table-responsive {
    overflow: auto;
    width: 100%;
  }
.cart-ps {
    bottom: -11px;
}
.cart-ps-items {
    width: 280px;
    position: absolute; 
    will-change: transform; 
    top: 0px; 
    left: 0px;
    transform: translate3d(185px, 38px, 0px);
    
}
.btn-white {
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.09) !important;
  }
  .pull-right {
      float: right !important;
  }
  .pull-left {
    float: left !important;
}
.p-t {
    text-transform: lowercase;
    font-size: 14px !important;
}
.p-t-b {
    font-size: 13px !important;
    font-weight: 500 !important;
}
.t-t {
    font-size: 17px !important;
}
/*=========================================================
	09 -> CHECKOUT PAGE
===========================================================*/

.billing-details {
    margin-bottom: 30px;
  }
  
  .shiping-details {
    margin-bottom: 30px;
  }
  
  .order-details {
    position: relative;
    padding: 0px 30px 30px;
    border-right: 1px solid #E4E7ED;
    border-left: 1px solid #E4E7ED;
    border-bottom: 1px solid #E4E7ED;
  }
  
  .order-details:before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: -15px;
    height: 30px;
    border-top: 1px solid #E4E7ED;
    border-left: 1px solid #E4E7ED;
    border-right: 1px solid #E4E7ED;
  }
  
  .order-summary {
    margin: 15px 0px;
  }
  
  .order-summary .order-col {
    display: table;
    width: 100%;
  }
  
  .order-summary .order-col:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .order-summary .order-col>div {
    display: table-cell;
    padding: 10px 0px;
  }
  
  .order-summary .order-col>div:first-child {
    width: calc(100% - 150px);
  }
  
  .order-summary .order-col>div:last-child {
    width: 150px;
    text-align: right;
  }
  
  .order-summary .order-col .order-total {
    font-size: 24px;
    color: #D10024;
  }
  
  .order-details .payment-method {
    margin: 30px 0px;
  }
  
  .order-details .order-submit {
    display: block;
    margin-top: 30px;
  }
 
  .empty-box {
    max-width: 360px !important;
    padding: 3rem 0px 0px;
  }


.full-width {
    width: 100% !important;
}
.master-credit-card {
  height: 40px !important;
  width: 150px !important;
}
.momo-icon {
    height: 40px !important;
    width: 150px !important;
}
.paypal_icon {
  height: 40px !important;
  width: 150px !important;
}
.gender-p {
    margin-top: 1rem;
    margin-left: 0.5rem;
}
h2 {
  margin-top: 30px;
  text-align: center;
}

h2.background {
  position: relative;
  z-index: 1;
  
  &:before {
      content:"";
      margin: 0 auto; /* this centers the line to the full width specified */
      position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 95%;
      z-index: -1;
  }
}

h2.double:after {
  border-bottom: 2px solid green;
  -webkit-box-shadow: 0 1px 0 0 green;
  -moz-box-shadow: 0 1px 0 0 green;
  box-shadow: 0 1px 0 0 green;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute;
  top: 45%; left: 0; right: 0;
  width: 95%;
  z-index: -1;
}
.con-img {
  width: 80px !important;
  height: 80px !important;
}
.removed-mt {
  margin-top: 19px !important;
}
.widget-header div>ul {
  padding: 10px 20px;
}
.widget-header div>ul>li {
  display: block;
  text-align: left;
  cursor: pointer;
  font-weight: 500;
}
.widget-header div>ul>li:hover{
  padding-left: 3px;
  color: #ff6a00;
  border-left: 4px solid #ff8f40;
  transition: .5s;
}
.widget-header div>ul>div:hover{
  color: #ff6a00;
  transition: .5s;
  font-weight: 500;
}
.cursor-pointer {
  cursor: pointer;
}
.card-wh {
  max-width: 450px !important;
  height: 100%;
}
mat-form-field {
  width: 100%;
}
mat-tab label {
  font-weight: 500 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: white !important; 
  border: 2px solid #ff6a00 !important;
}
.register-wh {
  width: 850px !important;
  margin: 40px auto;
}
.log-sign-tx {
  font-size: 24px;
  font-weight: 500;
}